body{
  display: grid;
}

#profile .pfcard{
  padding: 50px 75px;
  margin: 25px 0px;
  border: solid 2px rgba(var(--text-rgb),0.1);
  background: var(--background);
  border-radius: 12.5px;
}

#profile .pfp{
  background-image: url(https://pbs.twimg.com/profile_images/1584383834837352453/XRTUFFd__400x400.jpg);
  background-size: cover;
  background-origin: border-box;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border: solid 1px rgba(var(--text-rgb),0.1);
}

#profile h2{
  margin: 25px 0;
}

#profile .icons{
  display: flex;
  list-style: none;
  padding: 0px;
  margin-top: 37.5px;
  margin-bottom: 0px;
  width: 100%;
  gap: 25px;
}

#profile .icon{
  display: flex;
  align-items: center;
}

#github path {
  fill: var(--text);
}

#skills{
  margin: 50px auto;
}

#skills .card{
  color: var(--background);
  border: solid 1px;
  margin: 12.5px 0px;
  padding: 18.75px 62.5px;
  border-radius: 50px;
  transition: 0.25s;
  gap: 25px;
}

#skills span{
  line-height: 1rem;
  /*color: #000000;*/
}

#skills .skill{
  list-style: none;
  flex-wrap: wrap;
  margin: 31.25px 0px;
  padding: 0px;
  width: 100%;
}

#skills .text{
  margin: 0px;
}

#skills .bar{
  background: #000000;
  height: 6px;
  width: 100px;
  margin-top: 3.125px;
  border-radius: 100px;
}

#skills .bar2{
  background: #00000050;
  height: 100%;
  margin: 0px;
  border-radius: 100px;
}

#links{
  margin: 50px auto;
}

#links .card{
  display: grid;
  grid-template-columns: auto 1fr auto;
  list-style: none;
  align-items: center;

  padding: 37.5px 50px;
  margin: 18.75px 0px;
  border: solid 2px rgba(var(--text-rgb),0.1);
  background: var(--background);
  border-radius: 18.75px;
}

#links .profile{
  display: flex;
}

#links .pfp{
  grid-column-start: 1;
  grid-column-end: 2;
  background-image: url("https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png");
  background-size: cover;
  background-origin: border-box;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: solid 1px rgba(var(--text-rgb),0.1);
  box-sizing: border-box;
  margin-right: 25px;

}

#links .info{
  grid-column-start: 2;
  grid-column-end: 3;
  gap: 25px;
}

#links .info .title{
  margin: 0px;
  font-size: 1.25rem;
}

#links .info .id{
  margin: 0px;
  opacity: 0.75;
  color: rgba(var(--text-rgb),0.75);
}

#links .url{
  grid-column-start: 3;
  grid-column-end: 4;
  transition: 0.25s;
  background-color: #547ef1;
  border-radius: 50px;
  padding: 10px 25px;
}

#links .url a{
  color: white;
  white-space: pre;
}

#links .url:hover{
  opacity: 0.9;
}

.socials ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  gap: 12.5px;
}

.socials ul a {
  background: #000000;
  color: white;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.25s;
  text-align: center;
}

.socials ul a li{
  color: white;
}

.socials ul a:hover{
  opacity: 0.75;
}

@media (max-width: 500px) {
  #links .card {
    display: flex;
    gap: 12.5px;
    flex-direction: column;
    align-items: start;
    padding: 37.5px;
  }
  #profile .pfcard {
    padding: 37.5px;
  }
  #profile .pfcard h2 {
    margin: 1rem 0;
  }
  #profile .pfcard .icons {
    margin-top: 1rem;
  }
  
}