.card{
  padding: 50px 10%;
  margin: 25px 0px;
  border: solid 2px rgba(var(--text-rgb),0.1);
  background: var(--background);
  border-radius: 12.5px;
}

.card .icon{
  width: 87.5px;
  margin-right: 50px; 
}